version: '3.8'

services:
  app:
    build: .
    volumes:
      - .:/app
    environment:
      - OLLAMA_HOST=http://host.docker.internal:11434
      - CHROMA_DB_PATH=/app/chroma_db
    extra_hosts:
      - "host.docker.internal:host-gateway"
